<fieldset>
  <legend>{{ localize "walledtemplatesn5e.MeasuredTemplateConfiguration.LegendTitle" }}</legend>
    <div class="form-group">
      <label>{{ localize "walledtemplatesn5e.MeasuredTemplateConfiguration.elevation.Name" }} <span class="units">({{gridUnits}})</span> </label>
      <div class="form-fields">
        <input type="number" placeholder="0" id="elevatedvisionElevationConfig" name="flags.elevatedvision.elevation" class="elevatedvision" value="{{ data.flags.elevatedvision.elevation }}"/>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "walledtemplatesn5e.MeasuredTemplateConfiguration.walls-block.Name"}}&nbsp;
         <i class="tip fas fa-info-circle" data-tooltip="walledtemplatesn5e.MeasuredTemplateConfiguration.walls-block.Hint"></i>
      </label>
      <div class="form-fields">
        <select name="flags.walledtemplatesn5e.wallsBlock">
          {{ selectOptions walledtemplatesn5e.blockoptions selected=data.flags.walledtemplatesn5e.wallsBlock localize=true }}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "walledtemplatesn5e.MeasuredTemplateConfiguration.wall-restriction-type.Name"}}
        <i class="tip fas fa-info-circle" data-tooltip="walledtemplatesn5e.MeasuredTemplateConfiguration.walls-restriction-type.Hint"></i>
      </label>
      <div class="form-fields">
        <select name="flags.walledtemplatesn5e.wallRestriction">
          {{ selectOptions walledtemplatesn5e.walloptions selected=data.flags.walledtemplatesn5e.wallRestriction localize=true }}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "walledtemplatesn5e.MeasuredTemplateConfiguration.attach-token.Name"}}</label>
      <div class="form-fields">
        <span class="display-value"><em>{{walledtemplatesn5e.attachedTokenName}}</em></span>
        <button type="button" data-type="token" data-target="data.entity" class="walledtemplatesn5e-entity-picker" id="walledtemplatesn5e-useSelectedToken" title="{{localize 'walledtemplatesn5e.MeasuredTemplateConfiguration.attach-token.useSelectedToken'}}"><i class="fas fa-user-alt fa-sm"></i></button>
        <button type="button" data-type="token" data-target="data.entity" class="walledtemplatesn5e-entity-picker" id="walledtemplatesn5e-useTargetedToken" title="{{localize 'walledtemplatesn5e.MeasuredTemplateConfiguration.attach-token.useTargetedToken'}}"><i class="fas fa-crosshairs fa-sm"></i></button>
        <button type="button" {{ disabled (not walledtemplatesn5e.hasAttachedToken) }} data-type="token" data-target="data.entity" class="walledtemplatesn5e-entity-picker" id="walledtemplatesn5e-removeAttachedToken" title="{{localize 'walledtemplatesn5e.MeasuredTemplateConfiguration.attach-token.removeToken'}}"><i class="fas fa-user-slash fa-sm"></i></button>
      </div>
      <p class="hint">{{ localize "walledtemplatesn5e.MeasuredTemplateConfiguration.attach-token.Hint"}}</p>
    </div>

</fieldset>