<form class="{{classes}} lib-wrapper" autocomplete="off">
	<nav class="sheet-tabs tabs">
	  {{#each shapes}}
      <a class='item' data-tab='{{this.key}}'>{{localize (concat 'walledtemplatesn5e.settings.default_' this.key '.Name') }}</a>
    {{/each}}
	</nav>

  <header class="sheet-header flexrow">
    <br>
    <hr>
    <br>
  </header>

  {{#each shapes}}
    <section class='tab' data-tab='{{this.key}}'>
      <div class="form-group">
        <label>{{localize "walledtemplatesn5e.MeasuredTemplateConfiguration.walls-block.Name"}}</label>
        <div class="form-fields">
          <select name="{{ concat this.key '.DEFAULT_WALLS_BLOCK' }}">
            {{ selectOptions ../blockoptions selected=this.DEFAULT_WALLS_BLOCK localize=true }}
          </select>
        </div>
        <p class="hint">{{ localize "walledtemplatesn5e.MeasuredTemplateConfiguration.walls-block.Hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "walledtemplatesn5e.MeasuredTemplateConfiguration.wall-restriction-type.Name"}}</label>
        <div class="form-fields">
          <select name="{{ concat this.key '.DEFAULT_WALL_RESTRICTION' }}">
            {{ selectOptions ../walloptions selected=this.DEFAULT_WALL_RESTRICTION localize=true }}
          </select>
        </div>
        <p class="hint">{{ localize "walledtemplatesn5e.MeasuredTemplateConfiguration.walls-restriction-type.Hint"}}</p>
      </div>

      {{#unless (eq this.key "rect") }}
      <div class="form-group">
        <label>{{localize (concat "walledtemplatesn5e.settings.diagonal-scaling-" this.key ".Name") }}</label>
        <div class="form-fields">
          <input type="checkbox" name="{{ concat this.key '.DIAGONAL_SCALING' }}" {{ checked this.DIAGONAL_SCALING }}>
        </div>
        <p class="hint">{{ localize (concat "walledtemplatesn5e.settings.diagonal-scaling-" this.key ".Hint") }}</p>
      </div>
      {{/unless}}

    </section>
  {{/each}}

  <footer class="sheet-footer flexrow" style="margin: auto; padding-top: 30px">
    <br>
    <button type='submit' name='submit' value='1'><i class='far fa-floppy-disk'></i>{{localize 'Save Changes'}}</button>
  </footer>
</form>