{{#if isTemplate}}
  <h3 class="form-header">{{ localize "walledtemplatesn5e.MeasuredTemplateConfiguration.LegendTitle" }}</h3>

    <div class="form-group">
      <label>{{localize "walledtemplatesn5e.MeasuredTemplateConfiguration.walls-block.Name"}}
        <i class="tip fas fa-info-circle" data-tooltip="walledtemplatesn5e.MeasuredTemplateConfiguration.walls-block.Hint"></i>
      </label>
      <div class="form-fields">
        <select name="flags.walledtemplatesn5e.wallsBlock">
          {{ selectOptions walledtemplatesn5e.blockoptions selected=item.flags.walledtemplatesn5e.wallsBlock localize=true }}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "walledtemplatesn5e.MeasuredTemplateConfiguration.wall-restriction-type.Name"}}
        <i class="tip fas fa-info-circle" data-tooltip="walledtemplatesn5e.MeasuredTemplateConfiguration.walls-restriction-type.Hint"></i>
      </label>
      <div class="form-fields">
        <select name="flags.walledtemplatesn5e.wallRestriction">
          {{ selectOptions walledtemplatesn5e.walloptions selected=item.flags.walledtemplatesn5e.wallRestriction localize=true }}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "walledtemplatesn5e.nrpg-jutsu-config.attach-token.Name"}}
        <i class="tip fas fa-info-circle" data-tooltip="walledtemplatesn5e.MeasuredTemplateConfiguration.attach-token.Hint"></i>
      </label>
      <div class="form-fields">
        <select name="flags.walledtemplatesn5e.attachToken">
          {{ selectOptions walledtemplatesn5e.attachtokenoptions selected=item.flags.walledtemplatesn5e.attachToken localize=true }}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="checkbox">{{localize "walledtemplatesn5e.nrpg-jutsu-config.add-token-size.Name"}}
        <i class="tip fas fa-info-circle" data-tooltip="walledtemplatesn5e.nrpg-jutsu-config.add-token-size.Hint"></i>
      </label>
      <div class="form-fields">
        <input type="checkbox" name="flags.walledtemplatesn5e.addTokenSize" {{checked item.flags.walledtemplatesn5e.addTokenSize}}/>
      </div>
    </div>
{{/if}}